include README.md
include java/Resample.java
include java/LowpassFilter.java
include java/JTransforms-3.1-with-dependencies.jar
include java/BandpassFilter.java
include java/Resample.class
include java/README.md
include java/NpyWriter.java
include java/NpyWriter.class
include java/LowpassFilter.class
include java/EpochWriter.java
include java/EpochWriter.class
include java/BandpassFilter.class
include java/AxivityAx3Epochs.java
include java/AxivityAx3Epochs.class
include activityModels/hmm-states.npy
include activityModels/hmm-priors.npy
include activityModels/hmm-emissions.npy
include activityModels/hmm-transitions.npy
include activityModels/hmm-mets.npy
