include README.md
include accelerometer/java/Resample.java
include accelerometer/java/LowpassFilter.java
include accelerometer/java/JTransforms-3.1-with-dependencies.jar
include accelerometer/java/BandpassFilter.java
include accelerometer/java/Resample.class
include accelerometer/java/README.md
include accelerometer/java/NpyWriter.java
include accelerometer/java/NpyWriter.class
include accelerometer/java/LowpassFilter.class
include accelerometer/java/EpochWriter.java
include accelerometer/java/EpochWriter.class
include accelerometer/java/BandpassFilter.class
include accelerometer/java/AxivityAx3Epochs.java
include accelerometer/java/AxivityAx3Epochs.class
include accelerometer/activityModels/hmm-states.npy
include accelerometer/activityModels/hmm-priors.npy
include accelerometer/activityModels/hmm-emissions.npy
include accelerometer/activityModels/hmm-transitions.npy
include accelerometer/activityModels/hmm-mets.npy
