# Run flake8 linter

name: flake8

on:
  push:
    branches:
      - '**'
    pull_request:

jobs:
  flake8:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install linter
        run: |
          pip install --upgrade pip
          pip install flake8

      - name: Lint with flake8
        run: |
          # full lint: style, complexity, and all errors
          flake8 . --count --max-complexity=10 --max-line-length=127 --show-source --statistics \
            --exclude=versioneer.py,src/accelerometer/_version.py
