# Run flake8 linter

name: flake8

on:
  push:
    branches:
      - '**'
    pull_request:

jobs:
  flake8:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install linter
        run: |
          pip install --upgrade pip
          pip install flake8 pytest

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics \
            --exclude=versioneer.py,src/accelerometer/_version.py
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics \
            --exclude=versioneer.py,src/accelerometer/_version.py
