# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
          
      # Runs a set of commands using the runners shell
      - name: Compile Parser
        run: javac -cp java/JTransforms-3.1-with-dependencies.jar java/*.java,

      - name: Download Junit
        run: wget -O java/juint.jar https://repo1.maven.org/maven2/org/junit/platform/junit-platform-console-standalone/1.6.0/junit-platform-console-standalone-1.6.0.jar

      - name: Create folder for class files
        run: mkdir java/out
        
      - name: Compile tests
        run: javac -d out -cp java/out:java/junit.jar:.:java/:java/Tests java/Tests/*.java
        
      - name: Run tests
        run: java -jar java/junit.jar --classpath java/out:java --scan-class-path
 
        
